.container {
  position: relative;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
/* box header */
.box {
  max-width: 100vh;
}
.box-head {
  color: #fff;
  padding: 15px;
  background-color: #66669b;
  border-radius: 20px 20px 0 0;
}
.box-body {
  color: #66669b;
  padding: 15px;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item img {
  width: 15px;
  height: 15px;
}
.buyButton {
  border: 2px solid #66669b;
  color: #66669b;
  padding: 8px;
  border-radius: 5px;
}
