body {
  margin: 0;
  padding: 0;
  background-color: #f6fafd;
}
.container {
  display: flex;
  width: 50%;
  margin: 10px auto;
}
.col-left {
  padding: 15px;
  width: 45%;
  background-color: #fff;
  text-align: center;
}
.col-left h1 {
  font-family: sans-serif;
  font-size: 30px;
}
.col-left h2 {
  color: crimson;
  border: 3px solid crimson;
  margin-top: -25px;
  width: 40px;
  margin-left: 110px;
  font-size: 20px;
}
.google {
  position: relative;
  display: flex;
  background-color: #eaf4fe;
  justify-content: space-around;
  color: rgb(25, 107, 107);
}
.google i {
  color: crimson;
  position: absolute;
  top: 22px;
  left: 50px;
}
.github {
  margin-top: 8px;
  position: relative;
  display: flex;
  background-color: #eaf4fe;
  justify-content: space-around;
  color: rgb(17, 92, 92);
}
.github i {
  color: crimson;
  position: absolute;
  top: 22px;
  left: 45px;
}
.email {
  color: rgb(17, 92, 92);
  font-size: 14px;
}
.write input {
  width: 90%;
  border: none;
  margin-bottom: 8px;
  padding: 10px;
  background-color: #f6fafd;
}
button {
  width: 100%;
  margin-top: 20px;
  background-color: #525bdc;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 10px;
}
.help {
  text-decoration: underline;
  opacity: 0.5;
}
/* col-right */
.col-right {
  position: relative;
  width: 60%;
  background-color: #eaf4fe;
}
.col-right img {
  width: 80%;
  position: absolute;
  top: 80px;
  left: 50px;
  height: 80%;
}
